/*							*/
/*		GLOBAL CONTAINER--	*/
/*							*/

.container {
  height: auto;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

body,
html {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/*					*/
/*		NAV BAR--		*/
/*					*/

.mainbutton {
  background-color: #009245;
  color: white;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  padding: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
  min-width: 94px;
  cursor: pointer;
  text-align: center;
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
  padding-bottom:0.3em;
  padding-top:0.3em;
}

/* LOGO - top bar */
.logowrapper {
  display: flex;
}

#logonav {
  display: block;
  padding: 0px;
  min-width: 11em;
  max-width: 200px;
  margin-left: 2.5em;
}

#logomob {
  display: none;
  padding: 0px;
  margin: auto;
  max-height: 3.5em;
  margin-left: 2.5em;
}

#burger-button {
  display: none;
}

/* SEARCH BAR--  - navigation bar */
.nav-pfp {
  height: 2em;
  width: 2em;
  border-radius: 100%;
}

.navbarsearch {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  background-color: #eeeeee;
  height: 2.5em;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: inset 2px 2px 2px rgba(157, 157, 157, 0.25);
}

.searchbarwrapper {
  background-color: transparent;
  height: auto;
  border: none;
  width: calc(100% - 5em);
}

.navbarsearch input[type="text"] {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #91a59b;
}

.Lupa_image_wrapper {
  height: auto;
  width: 2em;
  right: 0;
  margin-left: 2.8em;
}

.lupaimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  margin-top: 0.3em;
}

/* BUTTONS-- - navigation bar*/
.but_nav_wrapper {
  /**/
  float: right;
  display: flex;
  height: auto;
  right: 0;
  margin-right: 1.5em;
  align-items: center;
}

.nav_icon {
  margin: 0.8em;
  display: block;
}


.textnav {
  font-family: "Rubik", sans-serif;
  margin-left: 2em;
  color: #4f4f4f;
  margin-right: -0.5em;
}

.nav_icon:hover {
  cursor: pointer;
}
.nav_icon:hover #world {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #bell {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #navmessage {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}

.nav_icon:hover #sig {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}

/*						*/
/*		MAIN BODY--		*/
/*						*/

.childcontainer {
  display: flex;
  width: 100%;
  height: 100%;

}

/* SIDE BAR--*/

.sidebar {
  font-family: 'Muli', sans-serif;
  color: #91a59b;
  z-index: 2;
  margin-top: 4.5em;
  position: fixed;
  width: 220px;
  height: 100%;
  display: flex;
  background-color: #f2f8f0;
  flex-direction: column;
  box-shadow: 4px 2px 4px rgba(204, 204, 204, 0.15);
}
.feedoptions {
  width: 45em;
  height: 4em;
  display: flex;
  flex-direction: row;
}

.sidebarsmall {
  display: relative;
  flex-direction: column;
  justify-content: left;
  height: 100%;
  margin-top: 4em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.sidebarsections {
  display: flex;
  flex-direction: row;
  margin-top: 1.25em;
  height: 40px;
  align-items: center;
}

#twittertab{
  background-color: #1da1f2;
  border-radius: 24px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.regularbutton {
  background-color: #009245;
  border-radius: 24px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#twlogo{
  height:28px;
  width:auto;

}

#reddittab{
  BACKGROUND-COLOR: #ff4500;
  border-radius: 24px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebarsections:hover a {

  cursor: pointer;
  font-weight: 700;
}
.sidebarsections:hover{
    box-shadow: 4px 2px 4px rgba(204, 204, 204, 0.65);
}

.sidebarsections:hover .sideicon {
  fill: #009245;
}

.sidebaricons:hover .sideicon2 {
  fill: #009245;
}
.sidebaricons:hover {
  cursor: pointer;
}

.childcontainer a {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: white;
}

.leftbarIcon {
  display: flex;
  align-content: center;
}


/* FEED--*/

.feed {
  position: relative;
  margin-left: 220px;
  margin-top: 4.5em;
  background-color: #f1f1f1;
  justify-content: center;
  height:auto;
  width: calc(100% - 220px);
}
.newscontainer {
  margin: 3em;
  margin-top: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  background-color: #f1f1f1;
}
.feedBox {
  margin: 2em;
  background-color: #fefefe;
  width: 312px;
  box-shadow: 4px 2px 4px rgba(204, 204, 204, 0.25);
  border-radius: 8px;
  overflow: hidden;
}

.containerbox {
  margin: 1em;
  color: #009245;
}
.textbox {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}
.textbox:hover {
  cursor: pointer;
}
.imageOnFeedBlock {
  display: block;
  max-width: 100%;
}

.feedoptions {
  margin:auto;

  margin-top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}

.postform {
  background-color: white;
  width: 30em;
  border-radius: 4px;
}

.options {
  text-align: right;
  width: 100%;
}

#postbuttton:hover{
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.65);
  width: auto;
  padding: 0.65em;
  padding-left: 1.05em;
  padding-right: 1.05em;
  transition: padding 0.1s linear;
}

/* 							 */
/* PROFILE-EXCLUSIVE STYLING */
/* 							 */

#profile-bg {
  background-color: #f1f1f1;
  height: auto;
}

.main-profile {
  width: 70%;
  max-width: 900px;
  min-width: 640px;
  margin: auto;
  margin-left:25em;
  background-color: white;
  height: 100vh;
  margin-top: 4.5em;
}

.userpanel {
  z-index: 2;
  background: #009245; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #009245 0%,
    #37a36d 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #009245 0%,
    #37a36d 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #009245 0%, #37a36d 100%);
  height: 18em;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
  margin-bottom: 2em;
}

.userimagewrapper {
  display: flex;
  justify-content: left;
  margin: auto;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 0;
}

img.userimage {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  background-size: cover;
}

div.userinfo {
  margin-left: 3em;
}

.userdisplayname {
  font-family: "Muli", sans-serif;
  margin: 0;
  margin-top: 1.8em;
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.userbio {
  font-family: "Muli", sans-serif;
  margin-top: 0.6em;
  font-size: 1em;
  color: #f2f8f0;
  font-weight: lighter;
}

.profilenav {
  display: flex;
  justify-content: right;
}

.profilenav-item {
  padding-right: 1.7em;
  padding-top: 0.5em;
  padding-bottom: 0;
  font-family: "Muli", sans-serif;
  color: white;
}

.userinfo-box {
  margin-top: 1em;
  font-family: "Muli", sans-serif;
  margin-left: 15%;
  border-left: 4px solid #c4edd2;
  border-radius: 2px;
  padding-left: 1em;
}

.userinfo-label {
  color: #009245;
}

.userinfo-content {
  margin-top: -1em;
  color: #4f4f4f;
  font-weight: 300;
  max-width: 540px;
  line-height: 1.6em;
}

.userinfo-content-longer {
  font-size: 16px;
  margin-top: -1em;
  color: #4f4f4f;
  font-weight: 300;
  max-width: 540px;
  line-height: 1.6em;
}

div.icons-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

div.numbers-container {
  margin-top: 1em;
  text-align: center;
  color: #91a59b;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5em;
}

#myBtn2 {
  font-family: "Muli", sans-serif;
  border-radius: 4px;
  border: 1px solid darkgray;
  margin-right: 1.7em;
  margin-top: 0.4em;
}

.profileedit {
  font-family: "Muli", sans-serif;
  padding: 20px;
}

#profilecancelbutton {
  margin-right: 1em;
}

.profileedit input,
textarea {
  font-family: "Muli", sans-serif;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid darkgray;
  margin-bottom: 1em;
  margin-top: 5px;
  resize: none;
}

/*						*/
/*		MEDIA QUERIES	*/
/*						*/

@media only screen and (max-width: 1024px) {
  #logonav {
    display: none;
  }

  #logomob {
    display: block;
    min-width: 3em;
  }

  .logowrapper {
    width: 1em;
  }
}

@media only screen and (max-width: 815px) {
  #logomob {
    margin-left: 3vw;
  }

  .navbar {
  }

  .but_nav_wrapper {
    /**/
    display: none;
  }

  .but_nav_wrapper {
    width: 100%;
  }

  .navbarsearch {
    width: 100%;
    margin-right: 1em;
    margin-left: 3.5em;
  }

  #burger-button {
    display: flex;
    height: auto;
    align-items: center;
    margin-right: 1em;
  }

  /* - - - - - - PROFILE- - - - - -*/

  #mobilenav {
    height: 10em;
    width: 100%;
    flex-direction: row;
  }

  #mobilenavsmall {
    display: relative;
    flex-direction: row;
    height: auto;
    margin: 1em;
  }

  .userimagewrapper {
    height: auto;
    width: auto;
    margin: 0;
  }

  img.userimage {
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .feed {
    margin-left: 0;
    width: 100%;
  }

  .newscontainer {
    margin: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
}

#resources {
  display: hidden;
}

/* --------MODAL------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.new-rect {
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  font-weight: bold;
}

.likable {
  font-family: "Muli", sans-serif;
  font-size: 0.6em;
}

/* RESOURCES */

.resources-banner-wrapper {
  width: 70%;
  margin: auto;
}

#resources-child {
  background-color: #f2f8f0;
}

.resources-outer {
  width: 70%;
  background-color: #fff;
  margin: auto;
  height: 100%;
}

.resources-table {
  font-family: "Muli", sans-serif;
  margin: auto;
  margin-top: 3em;
  border-collapse: collapse;
}

.table-divider {
  height: 1em;
}

td,
th {
  height: 3em;
  width: 9em;
  text-align: left;
  color: #777;
}

th {
  border-bottom: solid 1px #aaa;
  color: #009245;
}

.res-button {
  background-color: #009245;
  color: white;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
  cursor: pointer;
  text-align: center;
  margin-top: 2em;
}

th.wider,
td.wider {
  width: 18em;
}

#resourcesx {
  display: none;
}


/* --------   TABS ------ */

.tabs {
  text-align: left;
  padding: 1em;
}

.tabs a {
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
}

#twtab {
  color: #1da1f2;
}

#rdtab {
  color: #FF4500;
}





/* --------   TWEETS ------ */

.tweetform {
  width: 95%;
  border-radius: 10px;
  background-color: #1da1f2;
  padding: 1em;
  text-align: left;
}

label.twlabel {
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.twbutton {
  background-color: #fefefe;
  color: #1da1f2;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  padding: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
  min-width: 94px;
  cursor: pointer;
  text-align: center;
}

.tweetbox {
  width: 95%;
  border: 1px solid #37a36d;
  font-family: 'Muli', sans-serif;
  color: darkgray;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
  margin-bottom: 1em;
}

/*TWEETS*/

.twcont{
  text-decoration:  none;
  width:            45em;
  height:           auto;
  background-color: white;
  border-radius:    8px;
  margin:           1em;
  margin-top:       0em;
  border-right:     solid 10px;
  border-color:     #1da1f2;
  padding-right: 1em;
  display:          flex;
  flex-direction:   row;
  font-family:      'Muli', sans-serif;
  box-shadow:       2px 2px 5px rgba(38, 38, 38, 0.2);


}
.twcont:hover{
  box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.6);
  border-right: solid 15px;
  border-color: #1da1f2;
  transition: border-right 0.1s linear;
}
.columntw{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  width:100%;
  margin-left: 1em;
}
.groupA {
  display:flex;
  flex-direction: row;
  position:relative;
  width:100%;
  align-items: center;
}
.groupA {
  display:flex;
  flex-direction: row;
  width:100%;
  align-items: center;
}
.twphoto{
  width: 3em;
  height: 3em;
  border-radius: 100%;
  margin:1em;
}
.twnome{
  margin-left: 0em;
  color: #1da1f2;
  font-size: 0.8em;
}
.twdata{
  font-size: 0.6em;
  color: grey;
  margin-top: 1em;
}
.twutag{
  color: darkgray;
  margin-left: 0.5em;
  font-size: 0.8em;
}
.twtext{
  color: black;
  font-size: 1em;
  margin-top:0.5em;
}
.twlink{
  text-decoration: none;
}

/* ------- REDDIT POSTS --------- */

.rdcont{
  text-decoration:  none;
  width:            45em;
  height:           auto;
  background-color: white;
  border-radius:    8px;
  margin:           1em;
  margin-top:       0em;
  padding-right: 1em;
  border-right:     solid 10px;
  border-color:     #FF4500;
  display:          flex;
  flex-direction:   row;
  font-family:      'Muli', sans-serif;
  box-shadow:       2px 2px 5px rgba(38, 38, 38, 0.2);


}
.rdcont:hover{
  box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.6);
  border-right: solid 15px;
  border-color: #FF4500;
  transition: border-right 0.1s linear;
}
.columnrd{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  width:100%;
  margin-left: 1em;
}
.groupA{
  display:flex;
  flex-direction: row;
  position:relative;
  width:100%;
  align-items: center;
}
.groupA{
  display:flex;
  flex-direction: row;
  width:100%;
  align-items: center;
}
.rdphoto{
  width: 50%;
  height: 50%;
  margin:10px;
}
.rdnome{
  margin-left: 0em;
  color: #1da1f2;
  font-size: 0.8em;
}
.rddata{
  font-size: 0.6em;
  color: grey;
  margin-top: 1em;
}
.rdutag{
  color: darkgray;
  margin-left: 0.5em;
  font-size: 0.8em;
}
.rdtext{
  color: black;
  font-size: 1em;
  margin-top:0.5em;
}
.rdlink{
  text-decoration: none;
}

/* -------- ERROR MESSAGES -------*/

.error {
  font-family: 'Muli', sans-serif;
  position: relative;
  background-color: #ffcece;
  border: 1px solid lightcoral;
  border-radius: 5px;
  color: darkred;
  width: 29%;
  padding-left: 1em;
  padding-right: 1em;
  bottom: 1.3em;
  margin-top: 1em;
}

/*-------- RESOURCES ------------*/

#resources-body {
  background-color: #f1f1f1;
}

#rsc-container {
  width: 90%;
  background-color: none;
}

#melancia{
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(38, 38, 38, 0);
  margin-bottom: 3em;
}

.rsc-card {
  text-decoration:  none;
  width:            40em;
  height:           auto;
  background-color: white;
  border-radius:    8px;
  margin:           1em;
  margin-top:       0em;
  display:          flex;
  padding: 1em;
  padding-bottom: 0;

  flex-direction:   column;
  font-family:      'Muli', sans-serif;
  box-shadow:       2px 2px 5px rgba(38, 38, 38, 0.2);
}

.rsc-card a {
  text-decoration: none;
}

.rsc-title {
  font-family: 'Muli', sans-serif;
  margin: 0;
  color: #37a36d;
  text-decoration: none;
}

.rsc-url {
  font-family: 'Muli', sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding-left: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: #AAA;
  font-weight: lighter;
}

.rsc-description {
  font-family: 'Muli', sans-serif;
  margin: 0;
  margin-bottom: 1em;
}

.rsc-tags-container {

}

.rsc-tag {
  font-size: 0.8em;
  display: inline-block;
  color: white;
  background-color: #91a59b;
  margin: 0;
  margin-right: 0.3em;
  margin-bottom: 0.9em;
  padding: 0.3em;
  border-radius: 3px;
}

.rsc-tag:hover{
  background-color: #2d8918;
}
