/*							*/
/*		GLOBAL CONTAINER--	*/
/*							*/

.container{
	height: auto;
	width: 100%;
	background-color: #F1F1F1;
	display: flex;
	flex-direction: column;
}

body {
	max-width: 100%;
}

/*					*/
/*		NAV BAR--		*/
/*					*/

.navbar{
	position: fixed;
	z-index: 3;
	width:100%;
	background-color: #FEFEFE;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
	box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}


/* LOGO - top bar */
.logowrapper{

	display: flex;
}

#logonav{
	display: block;
	padding: 0px;
	min-width: 11em;
	max-width: 200px;
	margin-left: 2.5em;
}

#logomob {
	display: none;
	padding: 0px;
	margin: auto;
	max-height: 3.5em;
	margin-left: 2.5em;
}

#burger-button {
	display: none;
}


/* SEARCH BAR--  - navigation bar */
.navbarsearch{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	background-color: #EEEEEE;
	height: 2.5em;
	width: 35%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.25em;
	box-shadow: inset 2px 2px 2px rgba(157, 157, 157, 0.25);

}

.searchbarwrapper{
	background-color: transparent;
	height: auto;
	border:none;
	width: calc(100% - 5em);
}

.navbarsearch input[type=text] {
	width:100%;
	padding-left: 1em;
	padding-right: 1em;
	border: none;
	background-color: transparent;
	font-size: 1em;
	color: #91A59B;
}

.Lupa_image_wrapper{
	height: auto;
	width: 2em;
	right:0;
		margin-left: 2.8em;

}

.lupaimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;

    margin-top: 0.3em;
}



/* BUTTONS-- - navigation bar*/
.but_nav_wrapper{    /**/
	float:right;
	display: flex;
	height: auto;
	right:0;
	margin-right: 1.5em;
	align-items: center;

}

.nav_icon{
	margin: 0.8em;
	display: block;
}
.textnav{
	font-family: 'Rubik', sans-serif;
	margin-left: 2em;
	color: #4F4F4F ;
	margin-right: -0.5em;
}

.nav_icon:hover{
		cursor: pointer;
}
.nav_icon:hover #world{
	fill: #009245;
	box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #bell{
	fill: #009245;
	box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #navmessage{
	fill: #009245;
	box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}



/*						*/
/*		MAIN BODY--		*/
/*						*/


.childcontainer{
	display: flex;
	width: 100%;
	height:auto;
	position: absolute;
}

/* SIDE BAR--*/

.sidebar{
	z-index: 2;
	margin-top: 4.5em;
	position:fixed;
	width: 220px;
	height:100%;
	display: flex;
	background-color: #F2F8F0;
	flex-direction: column;
	box-shadow: 4px 2px 4px rgba(204, 204, 204, 0.15);
}
.feedoptions{
	width:100%;
	height:4em;
	display: flex;
	flex-direction: row;

}
.butgrid{

}
.sidebarsmall{
	display: relative;
	flex-direction: column;
	justify-content: left;
	height: 100%;
	margin-top: 4em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.sidebarsections{
	display: flex;
	flex-direction: row;
	margin-top: 1.25em;
	height: 40px;
	align-items: center;
}
.sidebarsections:hover a{
	color: #009245 ;
	cursor:pointer;
	font-weight: 700;
}
.sidebarsections:hover .sideicon{
	fill: #009245;
}

.sidebaricons:hover .sideicon2{
	fill: #009245;
}
.sidebaricons:hover{
	cursor: pointer;
}

.childcontainer a{
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	color: #91A59B;
}

.leftbarIcon{
	display: flex;
	align-content: center;
}

/* FEED--*/

.feed{
	position: relative;
	margin-left: 220px;
	margin-top: 4.5em;
	background-color: #F1F1F1;
	justify-content: center;
	height: 100%;
	width: calc(100% - 220px);
}
.newscontainer{
	margin:3em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;

}
.feedBox{
	margin:2em;
	background-color: #FEFEFE;
	width: 312px;
	box-shadow: 4px 2px 4px rgba(204, 204, 204, 0.25);
	border-radius: 8px;
	overflow: hidden;
}

.containerbox{
	margin: 1em;
	color: #009245;
}
.textbox{
	font-family: 'Muli', sans-serif;
	font-weight: 700;
}
.textbox:hover{
	cursor:pointer;
}
.imageOnFeedBlock{
	display: block;
	max-width: 100%;
}

.feedoptions{
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	width:auto;
	display: flex;


}

.postform{
	background-color:white;
	width: 30em;
	border-radius: 4px;
}

.options{
	text-align: right;
}

/* 							 */
/* PROFILE-EXCLUSIVE STYLING */
/* 							 */

img.userimage {
	border-radius: 100%;
	width: 100%;
}

div.userinfo {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	text-align: center;
}

.userdisplayname {
	margin: 0;
	margin-top: 1em;
	color: #009245;
	font-size: 1.2em;
	font-weight: bolder;
}

.userbio {
	margin: auto;
	margin-top: 0.6em;
	font-size: 0.8em;
	color: #91A59B;
	font-weight: lighter;
}

div.icons-container {

	margin-top: 2em;
	display: flex;
	justify-content: space-around;

}

div.numbers-container {
	margin-top: 1em;
	text-align: center;
	color: #91A59B;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1.5em;
}


/*						*/
/*		MEDIA QUERIES	*/
/*						*/


@media only screen and (max-width: 1024px) {

	#logonav {
		display: none;
	}

	#logomob {
		display: block;
		min-width: 3em;
	}

	.logowrapper{
		width: 1em;
	}
}

@media only screen and (max-width: 815px){

	#logomob {
		margin-left: 3vw;
	}

	.navbar {
	}

	.but_nav_wrapper{    /**/
		display: none;
	}

	.but_nav_wrapper {
		width: 100%;
	}

	.navbarsearch {
		width: 100%;
		margin-right: 1em;
		margin-left: 3.5em;
	}

	#burger-button {
		display: flex;
		height: auto;
		align-items: center;
		margin-right: 1em;
	}



	/* - - - - - - PROFILE- - - - - -*/

	#mobilenav{
		height:10em;
		width:100%;
		flex-direction: row;
	}

	#mobilenavsmall{
		display: relative;
		flex-direction: row;
		height: auto;
		margin:1em;
	}

	.userimagewrapper{
		height:auto;
		width: auto;
		margin:0;
	}

	img.userimage{
		height:auto;
	}







}
