<!DOCTYPE html>
<html>
	<head>
		<title>ORCWall</title>
		<link rel="stylesheet" href="/css/forms.css" type="text/css">
		<link rel="shortcut icon" type="image/png" href="/resources/Images/favicon.png" />
	</head>
	<body>
		<div class="formwrapper">
			<form class="formwrapperauxiliar" id="idformwrapperauxiliar" method="POST" action="/user/interests">

				<div class="formfield">
					<label class="textform"><b>CHOOSE YOUR PROFILE PHOTO</b></label>

					<input  type="file" onchange="onFileSelected(event)">
				</div>


				<div  class="formfield">

						<label class="textform"><b>SEARCH FOR TOPICS TO FOLLOW (separated by spaces)</b></label>
						<input class="inputform" id="tagdinput" name="tags" type="text" placeholder="Look for hashtags" required>

				</DIV>






				<div class="buttonsdiv">
					<button id="createaccountbutton" class="secbutton" type="button" onclick="location.href = '/';">Skip this</button>
					<button id="loginbutton" class="mainbutton" type="submit">Save</button>
				</div>

			</form>
		</div>
	</body>
</html>
